@mixin transition($property, $duration, $ease) {
    transition: $property $duration $ease;
}

//Typography
@mixin font-basic {
  font-family: $font-stack;
  font-stretch: normal;
  font-style: normal;
  color: $color-secondary;
}

@mixin header1 {
  font-size: $font-size-xxl;
  font-weight: $font-weight-extrabold;
  line-height: $line-height-xs;
  letter-spacing: -0.9px;
}
@mixin header2 {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  line-height: $line-height-sm;
  letter-spacing: -0.75px;
}
@mixin header3 {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  line-height: $line-height-md;
  letter-spacing: -0.6px;
}
@mixin header4 {
  font-size: $font-size-md;
  font-weight: $font-weight-semibold;
  line-height: $line-height-lg;
  letter-spacing: -0.5px;
}

@mixin small {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
  letter-spacing: normal;
}

@mixin lead {
  font-family: $font-stack;
  font-size: $font-size-md;
  line-height: $line-height-lg;
}
@mixin table-head {
  font-family: $font-stack;
  font-size: $font-size-sm;
  font-weight: bold;
  line-height: $line-height-xxl;
}
@mixin paragraph {
  font-family: $font-stack;
  font-size: $font-size-sm;
  line-height: $line-height-xxl;
}
@mixin muted {
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: $line-height-xl;
}

//Layout
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-container($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

// Utility:
// Box Shadows
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

// Border Radius
@mixin border-radius($radius) {
  border-radius: $radius;
}

// Transition
@mixin transition($properties, $duration, $timing-function) {
  transition: $properties $duration $timing-function;
}