@mixin transition($property, $duration, $ease) {
    transition: $property $duration $ease;
}

// Abstracts: _mixins.scss
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}