//color
$primary-color: #111111;
$secondary-color: #222222;

//Font family
$font-stack: 'Inter', 'Helvetica Neue', Arial, sans-serif;

// Font Sizes
$font-size-base: 14px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 30px;
$font-size-xxl: 36px;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// Line Heights
$line-height-base: 1;
$line-height-xs: 1.11;
$line-height-sm: 1.2;
$line-height-md: 1.33;
$line-height-lg: 1.4;
$line-height-xl: 1.43;
$line-height-xxl: 1.75;

//Border
$border-radius-sm: 10px;
$border-radius-md: 12px; 
$border-radius-lg: 14px;