// Typography
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: $font-stack;
  //color: $primary-color;
}

h1, h2, h3, h4, h5, h6, small {
  font-family: $font-stack;
  font-stretch: normal;
  font-style: normal;
  color: $color-secondary;
}

h1 {
  @include header1;
}
h2 {
  @include header2;
}
h3 {
  @include header3;
}
h4 {
  @include header4;
}
small {
  @include small;
}
p{
  @include paragraph;
}
.lead{
  @include lead;
}
.muted{
  @include muted;
}

//Links
a {
  color: $color-primary;
  &:hover {
    color: shade($color-primary, 20%);
  }
}